<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMSLabService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/MSLab.WCF/MSLabDemoService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMSLabService"
                contract="MSLabDemoService.IMSLabService" name="BasicHttpBinding_IMSLabService" />
    </client>
  </system.serviceModel>
</configuration>